<h1> Order Detail </h1>
<table>
    <!-- orderdetail_id, order_id, product_id, saleprice, qty -->
    <tr> <td> Order Detail ID: </td> <td> <%= onerec.orderdetail_id %> </td> </tr>
    <tr> <td> Order ID: </td> <td> <%= onerec.order_id %> </td> </tr>
    <tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
    <tr> <td> Sale Price: </td> <td> <%= onerec.saleprice %> </td> </tr>
    <tr> <td> Quantity: </td> <td> <%= onerec.qty %> </td> </tr>
</table>
