<h1> Recipe Package Details </h1>
<table>
    <!-- package_id, name, cuisine_type, price, ingredients, shipping_address -->
    <tr> <td> Package ID: </td> <td> <%= onerec.package_id %> </td> </tr>
    <tr> <td> Name: </td> <td> <%= onerec.name %> </td> </tr>
    <tr> <td> Cuisine Type: </td> <td> <%= onerec.cuisine_type %> </td> </tr>
    <tr> <td> Price: </td> <td> $<%= onerec.price %> </td> </tr>
    <tr> <td> Ingredients: </td> <td> <%= onerec.ingredients %> </td> </tr>
    <tr> <td> Shipping Address: </td> <td> <%= onerec.shipping_address %> </td> </tr>
</table>
