<h1> Restaurant Details </h1>
<table>
    <!-- restaurant_id, name, cuisine_type, location, delivery_time -->
    <tr> <td> Restaurant ID: </td> <td> <%= onerec.restaurant_id %> </td> </tr>
    <tr> <td> Name: </td> <td> <%= onerec.name %> </td> </tr>
    <tr> <td> Cuisine Type: </td> <td> <%= onerec.cuisine_type %> </td> </tr>
    <tr> <td> Location: </td> <td> <%= onerec.location %> </td> </tr>
    <tr> <td> Delivery Time: </td> <td> <%= onerec.delivery_time %> </td> </tr>
</table>
