<h1> Edit Food Item </h1>
<form action="/food_item/save" method="post">
    <input type="hidden" name="food_item_id" value="<%= onerec.food_item_id %>" >
    <table>
        <tr> <td> Name: </td> <td> <input type="text" name="name" value="<%= onerec.name %>" required> </td> </tr>
        <tr> <td> Cuisine Type: </td> <td> <input type="text" name="cuisine_type" value="<%= onerec.cuisine_type %>"> </td> </tr>
        <tr> <td> Ingredients: </td> <td> <textarea name="ingredients" rows="4" cols="30"><%= onerec.ingredients %></textarea> </td> </tr>
        <tr> <td> Price: </td> <td> <input type="text" name="price" value="<%= onerec.price %>" required> </td> </tr>
        <tr> <td> Availability: </td> <td> 
            <select name="availability" required>
                <option value="Available" <%= onerec.availability === 'Available' ? 'selected' : '' %>>Available</option>
                <option value="Not Available" <%= onerec.availability === 'Not Available' ? 'selected' : '' %>>Not Available</option>
            </select> 
        </td> </tr>
    </table>
    <button type="submit">Save</button>
</form>
